# Performance: Faster installs
prefer-offline=true
audit=false
fund=false
progress=true # Progress indicators

# Security
save-exact=true # Exact versions only
engine-strict=true # Restrict version of npm, pnpm, yarn, node,...

# Package management
package-lock=true # Use package-lock.json
package-lock-only=false # Prevent npm from changing package-lock.json

# Registry settings
registry=https://registry.npmjs.org/

# Node version (matches your .nvmrc)
node-version=22.16.0

# Temporarily fix dependencies issues with turbopack when using pnpm
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
